<div class="container-fluid">
  <div class="row d-flex">
    <div class="col-lg-4 leftSide">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo text-center">
            <img src="assets/images/logo.png" alt="logo" />
          </div>
        </div>
        <div class="col-lg-3 arrows">
          <div class="row d-flex align-items-center">
            <div class="col-6 d-flex align-items-center justify-content-center">
              <img src="assets/images/arrow-left.png" alt="logo" />
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center">
              <img src="assets/images/arrow-right.png" alt="logo" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 title">
          <div><h3>Home Page</h3></div>
          <div><h6>Breadcrumb</h6></div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 rightSide d-flex">
      <div class="search">
        <img src="assets/icons/Component 1.png" alt="logo" />
      </div>
      <div class="icons">
        <span> <img src="assets/icons/User (1).png" alt="logo" /></span>
        <span> <img src="assets/icons/Notification.png" alt="logo" /></span>
        <span> <img src="assets/icons/Cart.png" alt="logo" /></span>
      </div>
      <div class="signInBtn">
        <button>Sign in</button>
      </div>
      <div class="requestBtn">
        <button>Manual request</button>
      </div>
    </div>
  </div>
</div>
