<div class="container-fluid w-90">
  <div class="row w-100 justify-content-between">
    <div class="blank"></div>

    <div class="col-lg-3 lefSideMenu">
      <div class="d-flex justify-content-between">
        <div class="switchBtns">
          <button class="buyer">Buyer</button>
          <button class="seller">Seller</button>
        </div>
        <div>
          <img src="assets/icons/douple-rows.png" alt="logo" />
        </div>
      </div>
      <div class="quickAccess mt-3">
        <span class="title">Quick Access</span>
        <div class="miniCards d-flex mt-2">
          <div class="card d-flex">
            <img src="assets/icons/text 16.svg" alt="" />
            <div class="label">Showrooms</div>
          </div>
          <div class="card d-flex">
            <img src="assets/icons/Outlet.svg" alt="" />
            <div class="label">Outlet</div>
          </div>
          <div class="card d-flex">
            <img src="assets/icons/Deals.svg" alt="" />
            <div class="label">Deals</div>
          </div>
        </div>
        <div class="miniCards d-flex mt-2">
          <div class="card d-flex">
            <img src="assets/icons/box.svg" alt="" />
            <div class="label">Purchases</div>
          </div>
          <div class="card d-flex">
            <img src="assets/icons/note.svg" alt="" />
            <div class="label">Quotations</div>
          </div>
          <div class="card d-flex">
            <img src="assets/icons/messages-2.svg" alt="" />
            <div class="label">Messages</div>
          </div>
        </div>
      </div>
      <div class="subscribtion mt-4">
        <img src="assets/images/image (5).png" alt="" />
        <div class="subscTitle mt-3 d-flex justify-content-between">
          Subscribe now
          <div><img src="assets/icons/setting (1).png" alt="arrow" /></div>
        </div>
      </div>
      <div class="contactUs mt-5">
        <img src="assets/icons/Phone.png" alt="" />
        <button>
          Contact us
          <img
            class="arrow-right"
            src="assets/icons/Arrow Right 2.png"
            alt=""
          />
        </button>
      </div>
      <div class="contactUs mt-2">
        <img src="assets/icons/Settings 2.png" alt="" />
        <button>
          Setting
          <img
            class="arrow-right"
            src="assets/icons/Arrow Right 2.png"
            alt=""
          />
        </button>
      </div>
    </div>
  </div>
</div>
